<hr style="height:.9px;border:none;color:#333;background-color:#333;" />
<hr style="height:.9px;border:none;color:#333;background-color:#333;" />
<br>
<h1>Introduction to <em>pandas</em> DataFrames</h1>
<em>Introduction to Python | In-Class Script</em><br><br>

Written by Chase Kusterer - Faculty of Analytics <br>
Hult International Business School <br>
<a href="https://github.com/chase-kusterer">https://github.com/chase-kusterer</a> <br><br><br><br><br>
<hr style="height:.9px;border:none;color:#333;background-color:#333;" />
<hr style="height:.9px;border:none;color:#333;background-color:#333;" />
<br>
<h2>Part 1: Importing Excel Data into Python</h2>
Earlier, we learned several useful techniques related to operating on lists. <strong>DataFrames</strong>, which resemble Excel spreadsheets, are slightly more complicated as unlike lists, they are multidimensional. In other words, lists can be thought of as a single row of data, whereas <strong>DataFrames</strong> consist of rows and columns. There are hundreds of DataFrame methods, which can be found in the official  <a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html">Python documentation</a>.
<br><br><br>
<hr style="height:.9px;border:none;color:#333;background-color:#333;" />
<h3>The Two Month's Salary Challenge</h3><br>
The content of this chapter is reliant on a simple yet elegant dataset. This dataset has been published in <a href="https://www.amazon.com/Marketing-Data-Science-Techniques-Predictive/dp/0133886557">Marketing Data Science - Modeling Techniques in Predictive Analytics with R and Python</a>, written by Dr. Thomas Miller of Northwestern University. As such, it is fitting to allow Dr. Miller to introduce this dataset, as well as the two month's salary challenge:
<br>
<p><em>I never understood why giving a diamond was the social norm when proposing
marriage. As I began searching for an engagement ring, two thoughts
kept racing through my mind: “How will I be able to find the right diamond?”
and “What is this thing going to cost me?” It goes without saying
that my fianc´ee-to-be is worth the expense, but very seldom in our lives do
    we spend two month’s salary on a product we know so little about. </em><a href="miller_mds_two_months_salary_case.pdf">Click here to continue reading</a>.</p>
<br>
<hr style="height:.9px;border:none;color:#333;background-color:#333;" />

<h4>11.1.1) Basic Import of Excel Data</h4>
The <em>pandas</em> package has an excellent method to help us import Excel-style data into Python. This method, <a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html">read_excel(&nbsp;)</a>, has a number of optional arguments designed to make our lives easier. To begin, let's import <em>pandas</em> as <em>pd</em> and then read in the dataset with <strong>pd.read_excel(&nbsp;)</strong>.
<br><br>
The steps for this process are as follows:<br>
<font>
&emsp;1. Import <em>pandas</em>.<br>
&emsp;2. Specify the location of the data.*<br>
&emsp;3. Use read_excel(&nbsp;) to read in the data.</font>

<font>*The Excel file should be stored in the same place as this Jupyter notebook.</font>

In [1]:
## Session 11.1.1 ##

# Step 1: importing packages (always at beginning of analysis)
import pandas   as pd
import warnings


# Step 2: storing the path to the dataset
file = "diamonds.xlsx"


# Step 3: reading the file into Python through pandas
diamonds = pd.read_excel(io = file)

# Step 4 (optional): checking results
diamonds

     Obs  carat  color  clarity  cut  channel  store  price
0      1   0.32      3        7    0        0      7   1375
1      2   0.35      5        7    1        0      7   1680
2      3   0.40      4        7    1        0      7   2245
3      4   0.59      5        7    0        0      3   2495
4      5   0.72      7        8    0        0      8   2699
..   ...    ...    ...      ...  ...      ...    ...    ...
404  421   2.00      3        4    0        2     10  21933
405  422   2.00      2        5    1        2     10  22431
406  423   2.00      3        4    0        2     10  22706
407  424   2.00      2        3    0        2     10  26623
408  425   2.00      1        4    0        2     10  27575

[409 rows x 8 columns]

<hr style="height:.9px;border:none;color:#333;background-color:#333;" /><br>
<strong>pd.read_excel(&nbsp;)</strong> contains some extremely useful optional arguments that we may want to use in order to further organize our code. Below is a table of the ones we will cover throughout this course:<br><br>

<div style = "width:image width px; font-size:80%; text-align:center;">
<table align="center">
<col width="100">
<col width="10">   
<col width="600">
    <tr>
        <th>Argument</th>
        <th>    | </th>
        <th>Description</th>
    </tr>
    <tr>
        <td>io</td>
        <td>    | </td>
        <td> the file, path, or URL of the data</td>
    </tr>
    <tr>
    <tr>
        <td>sheet_name</td>
        <td>    | </td>
        <td> if your data exists on multiple sheets in Excel, this is the argument to tell Python which sheet to read</td>
    </tr>
    <tr>
        <td>header</td>
        <td>    | </td>
        <td> if your Excel file has column names in the first row, this is the argument to tell this to Python</td>
    </tr>   
    <tr>
        <td>dtype</td>
        <td>    | </td>
        <td> Excel and Python tend to interpret data types differently. This argument helps you control this.</td>
    </tr>
    
          Table 13.1: Extremely useful arguments for pd_read_excel().
</table></div><br>

<h4>11.1.2) Applying Optional Arguments from <em>pd.read_excel(&nbsp;)</em></h4>
Complete the code below to read the <em>diamonds</em> Excel file into Python, specifying its sheet name (i.e., <em>diamonds</em>) and the row number where feature labels (i.e., column names) are located.

In [3]:
## Session 11.1.2 ##

# pandas is already imported

# storing the path to the dataset
file = "diamonds.xlsx"


# instantiating the dataset as an object
diamonds = pd.read_excel(io         = file,     # file to be read in
                         sheet_name = "diamonds", # sheet name in Excel
                         header     = 0)         # row # w/ feature labels



# NEW METHOD: .head()
diamonds.head(n = 5)

   Obs  carat  color  clarity  cut  channel  store  price
0    1   0.32      3        7    0        0      7   1375
1    2   0.35      5        7    1        0      7   1680
2    3   0.40      4        7    1        0      7   2245
3    4   0.59      5        7    0        0      3   2495
4    5   0.72      7        8    0        0      8   2699

<br><hr style="height:.9px;border:none;color:#333;background-color:#333;" />
<h3>Bad Practice: Data Dumping</h3><br>
The <a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.head.html">.head(&nbsp;) method</a> is used to display the first <em>n</em> rows of a dataset. This is important, because as you know from the required reading for this session:<br><br>
<strong><font style="color:red;">Attempting to view an entire dataset is a bad idea.</font></strong><br><br>
When we attempted to view the entire dataset in <em>Session 11.1.2</em>, our view was automatically restricted to the first and last five rows of the dataset. This is panda's way of preventing us from unintentionally running something that might be process intense, and that we most likely will never use for any analytical endeavors.
<br>
<hr style="height:.9px;border:none;color:#333;background-color:#333;" /><br>

<h2>Part II: Slicing DataFrames</h2><br>
Columns can be sliced in a similar fashion to how list items are indexed:
<br><br>

~~~
# slicing a single column
DataFrame['feature name']
~~~

<br>
This is exemplified in the code below.

In [4]:
## Session 11.2.1 ##

# slicing the carat column (type will be pd.Series)
diamonds['carat'].head(n = 5)

0    0.32
1    0.35
2    0.40
3    0.59
4    0.72
Name: carat, dtype: float64

<hr style="height:.9px;border:none;color:#333;background-color:#333;" /><br>

For Python, the output of the code above is easy and efficient to read. If we were using the <em>carat</em> column as an input for another operation, this is the way to go. For humans, however, it would be beneficial to output this as a table. One advantage of Jupyter Notebook is that it will automatically output an html table if it is provided with a DataFrame.

In [5]:
## Session 11.2.2 ##

# slicing the carat column (type will be pd.DataFrame)
diamonds[  ['carat']  ].head(n = 5)

   carat
0   0.32
1   0.35
2   0.40
3   0.59
4   0.72

<hr style="height:.9px;border:none;color:#333;background-color:#333;" /><br><br>
The codes below have been designed to further exemplify the behind the scenes type conversion.

In [6]:
## Session 11.2.3 ##

type(diamonds['carat'])

pandas.core.series.Series

In [7]:
## Session 11.2.4 ##

type(diamonds[    ['carat']    ])

pandas.core.frame.DataFrame

<br><hr style="height:.9px;border:none;color:#333;background-color:#333;" /><br>
We can also slice multiple features, as in the code below.

In [8]:
## Session 11.2.5 ##

# carat and price columns
diamonds[  ['carat', 'color', 'clarity', 'cut']  ].head(n = 5)

   carat  color  clarity  cut
0   0.32      3        7    0
1   0.35      5        7    1
2   0.40      4        7    1
3   0.59      5        7    0
4   0.72      7        8    0

<hr style="height:.9px;border:none;color:#333;background-color:#333;" /><br>
<h2>Part III: Conditional Subsetting</h2>
When working with DataFrames, pandas prefers we use one of two methods that help us avoid problems down the road. These methods, <a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html">.loc[&nbsp;]</a> and <a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iloc.html#pandas-dataframe-iloc">.iloc[&nbsp;]</a> are incredibly important for several reasons, as explained in <a href="https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html">the Python documentation on indexing and selecting data</a>. Simply stated, the difference between these two methods is that <strong><em>.loc[&nbsp;]</em> works with names and <em>.iloc[&nbsp;]</em> works with numbers.</strong> Below is a diagram as to how to use these two methods.
<br><br>

~~~
# using loc[]
DataFrame.loc[row NAMES, column NAMES]

# using iloc[]
DataFrame.iloc[row NUMBERS, column NUMBERS]
~~~

<br>
The following two codes will output the same result.

In [9]:
## Session 11.3.1 ##

# slicing the column for color using .loc[]
diamonds.loc[ : , 'color'].head(n = 5)

0    3
1    5
2    4
3    5
4    7
Name: color, dtype: int64

<br>

In [10]:
## Session 11.3.2 ##

# slicing the column for color using .iloc[]
diamonds.iloc[ : , 2].head(n = 5)

0    3
1    5
2    4
3    5
4    7
Name: color, dtype: int64

<hr style="height:.9px;border:none;color:#333;background-color:#333;" /><br>
We can also add conditional logic by doing the following:<br><br>

~~~
             # think of this part like a filter
DataFrame[  (DataFrame.loc  [row names] , [column names]  ] CONDITION)  ]
~~~

<br>
This is exemplified in the code block below.

In [11]:
## Session 11.3.3 ##

# carat column where carat is greater than 2
diamonds[ (diamonds.loc[ : , 'carat'] > 2) ]

     Obs  carat  color  clarity  cut  channel  store  price
39    40   2.37      7        8    0        0      3   9999
42    43   2.11      3        8    0        0      7  16500
90   107   2.04      5        5    0        1      1  23000
354  371   2.27      8        5    0        2     11  10180
368  385   2.02      7        5    0        2     11  11840
377  394   2.10      6        6    0        2     11  13680
378  395   2.13      7        3    0        2     11  13680
379  396   2.20      6        6    1        2     11  13700
382  399   2.01      6        4    0        2     11  13740
390  407   2.01      5        4    0        2     11  17010
391  408   2.01      5        5    0        2     11  17020
392  409   2.02      5        5    0        2     11  17100
397  414   2.48      6        5    0        2     11  17440
398  415   2.01      5        5    0        2     11  17450

<hr style="height:.9px;border:none;color:#333;background-color:#333;" /><br>
Conditional subsetting can be extended by simply adding more conditions on to end of a line of code. <strong><font style="color:red;">Don't worry about the UserWarning that generates from the code.</font></strong> This is simply telling us that our index values will remain intact instead of resetting. We will suppress this warning in a later code.
<br><br>

In [12]:
## Session 11.3.4 ##

# subetting for color, cut both == 1
diamonds[ (diamonds.loc[ : , 'carat']     <= 1) ]\
        [ (diamonds.loc[ : , 'color']     >= 2) ]\
        [ (diamonds.loc[ : , 'clarity']   == 3) ]\
        [ (diamonds.loc[ : , 'cut']       != 1) ]

C:\Users\Floater PC #8\AppData\Local\Temp\ipykernel_14932\4283829609.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  diamonds[ (diamonds.loc[ : , 'carat']     <= 1) ]\
C:\Users\Floater PC #8\AppData\Local\Temp\ipykernel_14932\4283829609.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  diamonds[ (diamonds.loc[ : , 'carat']     <= 1) ]\
C:\Users\Floater PC #8\AppData\Local\Temp\ipykernel_14932\4283829609.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  diamonds[ (diamonds.loc[ : , 'carat']     <= 1) ]\

     Obs  carat  color  clarity  cut  channel  store  price
44    61   0.59      6        3    0        1      6   1770
115  132   0.56      4        3    0        2     11   2010
148  165   0.73      6        3    0        2     11   2680
175  192   0.75      4        3    0        2     11   3490
178  195   0.72      3        3    0        2     11   3490
194  211   0.73      2        3    0        2     10   4215
301  318   1.00      3        3    0        2     10   7296
302  319   1.00      3        3    0        2     10   7296
305  322   1.00      3        3    0        2     10   7365
313  330   1.00      3        3    0        2     10   7710

<hr style="height:.9px;border:none;color:#333;background-color:#333;" /><br>

In [13]:
# suppressing user warnings
warnings.simplefilter(action='ignore', category=UserWarning)

<hr style="height:.9px;border:none;color:#333;background-color:#333;" /><br>
This can get messy very quickly. In many cases, it is easier to develop the code one step at a time to help keep things organized.

In [14]:
## Session 11.3.5 ##

# data to be subset
data = diamonds[ ['carat', 'color', 'clarity', 'cut'] ]


# conditions
carat_condition   = (diamonds.loc[ : , 'carat']   <= 1) # carat
color_condition   = (diamonds.loc[ : , 'color']   >= 2) # color
clarity_condition = (diamonds.loc[ : , 'clarity'] == 3) # clarity
cut_condition     = (diamonds.loc[ : , 'cut']     != 1) # cut


# putting it all together
data[carat_condition][color_condition][clarity_condition][cut_condition]

     carat  color  clarity  cut
44    0.59      6        3    0
115   0.56      4        3    0
148   0.73      6        3    0
175   0.75      4        3    0
178   0.72      3        3    0
194   0.73      2        3    0
301   1.00      3        3    0
302   1.00      3        3    0
305   1.00      3        3    0
313   1.00      3        3    0

<hr style="height:.9px;border:none;color:#333;background-color:#333;" /><br>
<h2>Part IV: Case Study - Finding the "Best" Diamond on a Budget</h2><br>
<strong>Your goal in this case study is to find the "best" five diamond engagement rings for a "normal" Chicago citizen.</strong> To help you along the way, below is some domain knowledge on income in the city of Chicago during the data collection period.
<br><br>
<hr style="height:.9px;border:none;color:#333;background-color:#333;" />
<strong>Foundational Domain Knowledge</strong><br>
The diamond data was collected in the city of Chicago in 2007. During this time, per capita income for the city of Chicago was approximately \&#36;34,775, according to <a href="https://www.census.gov/">the U.S. Census Bureau website</a>. Following the "two month's salary" rule, a "normal" Chicago citizen would have a budget of approximately \&#36;5,795 to spend on a diamond engagement ring.
<hr style="height:.9px;border:none;color:#333;background-color:#333;" />
<br>
Use the open coding block below to conditionally subset price, carat, color, clarity, and cut to find the "best" diamond engagement ring given this budget. You may define "best" in any way you please, as long as you can reasonably justify your rationale (use the markdown cell below for this).

Open this markdown cell to explain the rationale for your selection criteria. Aim for at least 100 words.

In [40]:
## Session 11.4.1 ##

#  I will identify the top five diamond engagement rings that offer the best overall value within a budget of $5,795, which reflects the average two-month salary of a Chicago citizen in 2007. I will focus on four key quality attributes: cut, clarity, color, and carat. The cut will receive the highest priority, as it most directly affects the diamond’s brilliance and sparkle; only diamonds with an “Ideal” cut (the highest rating) will be selected. I will also filter for high clarity (FL to VVS2) and top color grades (D to G), both of which indicate purity and whiteness. For carat, I will require a minimum size of 0.6 to ensure visual presence without excessively inflating price. Finally, I will sort the filtered diamonds by carat in descending order to identify the Biggest, high-quality stones within budget, because after all Size really matter. This strategy will ensure that I balance beauty, quality, and value when selecting the best possible engagement ring.
# don't forget to add comments to your code!

# Data to be subset
data = diamonds[['carat', 'color', 'clarity', 'cut', 'price']]

# Budget condition (less than or equal to $5795)
budget_condition = diamonds['price'] <= 5795

# Conditions for carat, color, clarity, and cut based on diamond quality:
carat_condition   = diamonds['carat']   >= 0.6  # Carat weight should be >= 0.6 
color_condition   = diamonds['color']   <= 4  # Prefer diamonds with a color rating of 'D', 'E', 'F', 'G' (best color is D)
clarity_condition = diamonds['clarity'] <= 4  # Prefer diamonds with clarity rating 'FL', 'IF', 'VVS1', 'VVS2'
cut_condition     = diamonds['cut']     == 1  # Prefer Ideal cut (cut value = 1)

# Combine all conditions with &
all_conditions = budget_condition & carat_condition & color_condition & clarity_condition & cut_condition

# Subset the data
filtered_data = data[all_conditions]

# Sort by carat size in descending order (biggest first because size matter!!)
sorted_data = filtered_data.sort_values(by='carat', ascending=False)

# Show the result
sorted_data.head(n=5)

     carat  color  clarity  cut  price
161   0.72      4        4    1   3308
162   0.72      4        4    1   3318
173   0.72      4        4    1   3470
182   0.72      4        4    1   3648
140   0.64      4        4    1   2524

<hr style="height:.9px;border:none;color:#333;background-color:#333;" /><br>

~~~

 __ _             _   _                           _   
/ _\ |_ __ _ _ __| |_(_)_ __   __ _    ___  _   _| |_ 
\ \| __/ _` | '__| __| | '_ \ / _` |  / _ \| | | | __|
_\ \ || (_| | |  | |_| | | | | (_| | | (_) | |_| | |_ 
\__/\__\__,_|_|   \__|_|_| |_|\__, |  \___/ \__,_|\__|
                              |___/                   
 __  _____  __    ___    __  ___   _                  
/ _\/__   \/__\  /___\/\ \ \/ _ \ / \                 
\ \   / /\/ \// //  //  \/ / /_\//  /                 
_\ \ / / / _  \/ \_// /\  / /_\\/\_/                  
\__/ \/  \/ \_/\___/\_\ \/\____/\/                    
                                                      

~~~

<br>